<h1>Contact Us</h1>
<p class="mb-2">Please select one of the following options to get in touch:</p>

<h3 class="mt-5">Send an Email</h3>
<p class="mb-3">
  For issues with receiving quotes, potential concerns, or any general inquiries, you can send us an email using the
  button below. Our team will be in touch within 48 hours.
</p>
<a class="btn btn-primary" href="mailto:hersh.k17@gmail.com">Send Email</a>

<h3 class="mt-5">Provide Feedback</h3>
<p>If you have any suggestions, comments, or issues to report, please use the feedback form below.</p>
<form>
  <div class="form-group mb-2">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" id="name" />
  </div>
  <div class="form-group mb-2">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="form-group mb-2">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-2 mb-5">Submit Feedback</button>
</form>
